@import "../styles/style.scss";

body{
     background-image: url(image.jpg); 

    background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* keeps image fixed when scrolling */
  background-size: cover; 
 }  

 h1{
  @include flex-style;
  color: $main-color;
 }

// h1{
//   // color: $backgroundtesting;
//   // background-color: $main-color;
// }
